.app-container
{
  display: flex;
}
.content
{
  width: 100%;
}
.sidebar
{
  min-height: 800px;
}
.post-card
{
  margin:20px;
  width: 1000px;
}
.hashtag{
  margin:3px;
}
.reactions
{
  margin: 15px 0px 0px 0px;
}
.createpost
{
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
.allCardsDiv
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.PostsListSection
{
  background-color: #212529;
  border: 2px #ffc107 solid;
  color: white;
  padding-bottom: 50px;
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}